.criminalsContainer, .officersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.criminalCard, .officer {
  margin: 0.5rem;
  padding: 0.5rem;
  flex-basis: 25%;
}

.criminalCard {
  border: 1px solid red;
}

.officer {
  border: 1px solid blue;
}